body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
		'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas,
		'Courier New', monospace;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.dark-mode {
	background-color: #242526;
}

.dark-mode h1 {
	color: #fafafa;
}

.container {
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
	min-height: 100vh;
}

.notes-list {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(
		auto-fill,
		minmax(250px, 1fr)
	);
}

.note.new {
	background-color: #e4c1f9;
}

.note-title {
	border: none;
	color: #242526;
	background-color: #e4c1f9;
	font-size: 20px;
	height: 35px;
	resize: none;
	border-radius: 3px;
	display: flex;
}

.note-title:focus {
	outline: none;
	border: none;
}

textarea {
	border: none;
	resize: none;
	background-color: #e4c1f9;
	box-sizing: border-box;
	font-size: 16px;
	padding: 5px 10px 5px 10px;
}

textarea:focus {
	outline: none;
}

.dark {
	cursor: grab;
	background-color: white;
	border: none;
	border-radius: 10px;
	padding: 5px 10px 5px 10px;
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
}

.save {
	background-color: #fafafa;
	border: none;
	border-radius: 60%;
	padding: 5px 10px 5px 10px;
}

.save:hover {
	background-color: #ededed;
	cursor: pointer;
}

.note {
	background-color: #cee19d;
	border-radius: 10px;
	font-size: 16px;
	padding: 1rem;
	min-height: 150px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	white-space: pre-wrap;
	resize: none;
	word-break: keep-all;
	word-wrap: break-word;
}

.note-nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.note-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.delete-icon {
	cursor: pointer;
}

.search {
	display: flex;
	align-items: center;
	margin-bottom: 1.5em;
    border-radius: 5px;
    padding: 12px 20px 12px 40px;
}

.search-button{
	background-color: white;
	border:none;
	height: 40px;
	width: 40px;
	border-radius: 7px 0px 0px 7px;
    box-sizing: border-box;
	box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.2), 0 4px 0 0 rgba(0, 0, 0, 0.19);

}

.search input {
	background-color: white;
	border: none;
    padding: 12px 20px 12px 40px;
	font-size: 16px;
	height: 40px;
	width: 130px;
	border-radius: 0px 7px 7px 0px;
    box-sizing: border-box;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 4px 0 0 rgba(0, 0, 0, 0.19);
}

.search input:focus {
	outline: none;
	width: 45%;
}
