body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
		'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas,
		'Courier New', monospace;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.dark-mode {
	background-color: #242526;
}

.dark-mode h1 {
	color: #fafafa;
}

.container {
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
	min-height: 100vh;
}

.notes-list {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(
		auto-fill,
		minmax(250px, 1fr)
	);
}

.note.new {
	background-color: #e4c1f9;
}

textarea {
	border: none;
	resize: none;
	background-color: #e4c1f9;
}

textarea:focus {
	outline: none;
}

.dark {
	background-color: white;
	border: none;
	border-radius: 10px;
	padding: 5px 10px 5px 10px;
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
}

.save {
	background-color: #fafafa;
	border: none;
	border-radius: 60%;
	padding: 5px 10px 5px 10px;
}

.save:hover {
	background-color: #ededed;
	cursor: pointer;
}

.note {
	background-color: #bdd77b;
	border-radius: 10px;
	padding: 1rem;
	min-height: 170px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	white-space: pre-wrap;
}

.note-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.delete-icon {
	cursor: pointer;
}

.search {
	background-color: white;
	display: flex;
	align-items: center;
	border-radius: 5px;
	height: 25px;
	padding: 5px;
	margin-bottom: 1.5em;
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
}

.search input {
	background-color: white;
	border: none;
	width: 100%;
}

.search input:focus {
	outline: none;
}
